*,
*::before,
*::after{
  box-sizing: border-box;
  padding:0;
  margin:0;
}



.hero{
  display:var(--main-display);
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  width: 100%;
  /* background-color: var(--bg-color); */
  
}
.container{
  display: var(--main-display);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border:1px solid var(--color);
  /* background-color: #FBD311; */
  height: 100vh;
  width: 100vw;
  position: relative;
 
}
.container-text{
 color: #027351;
 font-size: 40px;
}
.character-text{
  color:#027351;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 30px;
  font-family: var(--font-two);
  font-weight: bold;


}
.character-container{
  display: var(--main-display);
  justify-content: space-between;
  height:100%;
  width:50%;
  border: 1px solid var(--aqua);
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.character-list{
  list-style-type: none;
  color: var(--aqua);
  font-size: 18px;
  color:#027351;
  text-align: center;
  
}
/* .character-image{
  width:50%;
  
} */
.profile-container{
  height:100%;
  width:50%;
  border: 1px solid var(--aqua);
  position:absolute;
  background-color:  #FBD311;
  bottom:0;
  display:none;
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: var(--font-two);
}

.profileCloseButton{
  margin-left: 8rem;
}