:root{
  --bg-color: #150E28;
  --container-width:100%;
  --main-display:flex;
  --white:#fff;
  --font-one: 'Clash Display', sans-serif;
  --font-two:'Montserrat', sans-serif;
  --aqua:aqua;
  --border: 1px solid gray;
  --bg-color2:#140D27;
  --text-color: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
}